body, input, button {
  font-size: 14px;
  font-family: Roboto,arial,sans-serif;
  color: #222;
}
.centered{
  align-items:center;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar{
  margin-top:1%;
  padding:1%;
}
#about{
  margin-left:2%;
  padding-right: 2%;
}
#store{
  margin-right: 50%;
  margin-left:-1.5%;
}
#gmail{
  margin-left:18%;
}
#apps-icon{
  margin-top: -10%;
}
#sign-in-button{
  letter-spacing: 0.25px;
  cursor:pointer;
  color:#fff;
  background: #1a73e8;
  border: 1px solid transparent;
}
.centered-logo{
  align-items: center;
  justify-content: center;
  margin-top:5%;
}
.searchbar-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#searchbar{
  padding: 1% 17% 1% 15%;
  margin: 2% 5% 0 5%;
}
#search-icon{
  position: absolute;
  top: 39.5%;
  right: 70%;
  height: 35px;
  width: 38px;
}
#microphone-icon{
  position: absolute;
  margin-left: 68%;
  top: 40%;
  left: 2%;
  height:30px;
  width:20px;
}
.lucky-buttons{
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
#google-languages{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:3%;
}
#feeling-lucky-button{
  margin-left: 3%;
}
#change-language{
  margin-left: 20%;
}
.footer{
  margin-top:15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#footer-start{
  margin-left: 2.5%;
  justify-content: flex-start;
  min-width: 30%;
  order: 1;
}
#footer-business{
  padding:5%;
}
#footer-privacy{
  margin-right: 4%;
  margin-left: 47%;
}
#footer-settings{
  padding:20px;
}
#footer-middle{
  order: 2;
}
#footer-end{
  justify-content: flex-end;
  min-width: 30%;
  order: 3 
}
a{
  text-decoration: none;
  font-size: 14px;
  font-family: Roboto,arial,sans-serif;
  color:#222;
}
a:hover{
  text-decoration:underline;
}
button{
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: Roboto,arial,sans-serif;
  font-size: 14px;
}
